# BEGIN LSCACHE
# END LSCACHE
# BEGIN NON_LSCACHE
# END NON_LSCACHE
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

################
### SECURITY ###
################

# X-XSS-Protection
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
# X-Frame-Options
<IfModule mod_headers.c>
    Header always append X-Frame-Options SAMEORIGIN
</IfModule>
# X-Content-Type-Options: nosniff
<IfModule mod_headers.c>
    Header set X-Content-Type-Options nosniff
</IfModule>

<IfModule mod_headers.c>
    Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
    Header set Referrer-Policy: no-referrer-when-downgrade
</IfModule>

# Deny access to dev files
<Files ~ "\.(dev)$">
   deny from all
</Files>

####################

### Environment Variables ###
<IfModule mod_env.c>
    SetEnv ENV_NAME ENV_VALUE
    # SetEnv WORDPRESS_DB_HOST localhost
    # SetEnv WORDPRESS_DB_USER "wp"
    # SetEnv WORDPRESS_DB_PASSWORD "password"
    # SetEnv WORDPRESS_DB_NAME "wp"
    # SetEnv WORDPRESS_TABLE_PREFIX "wp_"
</IfModule>
